/* <---- CORE ----> */

:root{
    --color-primary: #fff;
    --color-secondary: #3b4eb9;
    --bg-secondary: #f1f1f1;
    --link: #ffda75;
    --text-primary: #333;
    --text-secondary: #444;
    --copy: #656565;
    --footer: #af142f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-size: 16px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

main{
    width: 100%;
    position: relative;
}

.title{
    text-align: center;
    font-size: 2.8em;
    font-weight: 900;
    color: var(--color-secondary);
    padding: 2.7em 0;
    letter-spacing: 0.8px;
}

/* <---- HEADER ----> */

.menu{
    padding-top: 1.875em;
    display: flex;
    justify-content: end;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    font-size: 1.125em;
    padding: 0.625em;
}

.menu ul li a{
    color: var(--color-primary);
}

.menu ul li a:hover{
    text-decoration: underline;
}

.vertical__bar{
    width: 1px;
    height: 2.5em;
    background-color: #fff;
}

.hero{
    height: 800px;
    width: 100%;
    background-image: linear-gradient(to right, hsla(234, 59%, 28%, 0.5), hsla(202, 56%, 49%, 0.5)), url(img/pexels-negative-space-160107.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.hero__main{
    height: 745.62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container{
    text-align: center;
    position: relative;
    z-index: 10;
}

.text-container__main{
    color: var(--color-primary);
    font-size: 3.75em;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 600;
}

.text-container__info{
    color: var(--color-primary);
    font-size: 1.5em;
    margin-bottom: 1.25em;
    font-weight: 300;
    letter-spacing: 0.0625em;
}

.btn{
    display: inline-block;
    font-size: 1.3em;
    line-height: 2.4em;
    width: 8.8em;
    height: 2.4em;
    border: var(--link) 1px solid;
    color: var(--color-primary);
    border-radius: 5px;
    transition: all .3s ease;
    letter-spacing: 1px;
    -webkit-box-shadow: 10px 10px 24px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -21px rgba(0,0,0,0.75);
}

.btn:hover{
    background: var(--link);
    color: var(--text-primary);
}

.wave{
    position: absolute;
    bottom: 0;
}

/* <---- SERVICES----> */

#servicios{
    width: 100%;
    background-color: var(--color-primary);
}

.services{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 12.5em;
}

.service{
    width: 28%;
    text-align: center;
}

.service__img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.service__title{
    font-size: 1.375em;
    margin: 0.625em 0;
    letter-spacing: 1px;
    color: var(--text-primary);
}

.service__copy{
    color: var(--copy);
    font-weight: 300;
    margin-bottom: 1.25em;
    letter-spacing: 0.8px;
    line-height: 1.1;
}

.service__btn{
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    font-size: 1.125em;
    padding: 0.5em 0.9375em;
    border-radius: 5px;
    transition: all .3s ease;
    -webkit-box-shadow: 10px 10px 24px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -21px rgba(0,0,0,0.75);
}

.service__btn:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/* <---- PRICES ----> */

#precios{
    width: 100%;
    height: 800px;
    background-color: var(--bg-secondary);
}


/* <---- ABOUT  US ----> */

#sobreNosotros{
    width: 100%;
    background-color: var(--color-primary);
}

.about-us{
    display: flex;
    flex-direction: column;
}

.about-us__cont, .about-us__cont--reverse{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8.125em;
    padding: 0 3.125em;
}

.about-us__cont--reverse{
    margin-bottom: 12.5em;
}

.about-us__img{
    width: 48%;
    opacity: .9;
    -webkit-box-shadow: 10px 10px 24px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -21px rgba(0,0,0,0.75);
}

.img__copy{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-us__text{
    width: 42%;
}

.about-us__main{
    font-size: 2.625em;
    letter-spacing: 2px;
    color: var(--text-primary);
    margin-bottom: 5px;
    font-weight: 300;
}

.about-us__copy{
    line-height: 1.5;
    font-size: 1.25em;
    color: var(--copy);
    letter-spacing: 1px;
    font-weight: 300;
}

.bars{
    display: flex;
}

.bar1{
    width: 15%;
    height: 3px;
    background: var(--color-secondary);
    margin-bottom: 1.5em;
}

.bar2{
    width: 15%;
    height: 3px;
    background: var(--copy);
    margin-bottom: 1.5em;
}

/* <---- CONTACT ----> */

#contacto{
    width: 100%;
    background-color: var(--bg-secondary);
    overflow: hidden;
}

.contact{
    display: flex;
    margin-bottom: 12.5em;
    flex-wrap: wrap;
}

.contact__icons{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1.25em 0 3em;
    height: 31.25em;
}

.contact__icon{
    text-align: center;
    font-size: 2.6em;
    padding: 0.4em;
    border-radius: 50%;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    -webkit-box-shadow: 10px 10px 24px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -21px rgba(0,0,0,0.75);
}

.contact__copy{
    height: 31.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.copy__main{
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-bottom: 0.625em;
    color: #000;
    
}

.copy__info{
    font-size: 1.4em;
    color: var(--text-secondary);
}

.contact__hero{
    width: 40%;
    height: 31.25em;
    margin-left: 7em;
}

.contact__img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* <---- FOOTER ----> */

footer{
    width: 100%;
    background-color: #222;
}

.foot{
    width: 100%;
    display: flex;
    color: var(--color-primary);
}

.foot__main{
    width: 40%;
    padding: 4.375em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    position: relative;
}

.foot__title{
    font-size: 2.2em;
    font-weight: 900;
    letter-spacing: 0.8px;
    margin-bottom: 0.3em;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.foot__logo{
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
}

.logo{
    width: 30%;
    object-fit: contain;
}

.foot__under{
    width: 100%;
    height: 1.5em;
    background-color: #313757;
    position: absolute;
    bottom: 0;
}

.foot__info{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 4.375em 0;
    justify-content: space-evenly;
    position: relative;
}

.foot__part1, .foot__part2{
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    align-items: center;
}

.main__icon{
    font-size: 1.5em;
    color: var(--color-secondary);
    margin-right: 0.3em;
    position: relative;
    top: -0.15em;
}

.foot__subtitle{
    font-size: 1.5em;
    letter-spacing: 0.8px;
    color: var(--color-primary);
    margin-bottom: 0.3em;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.foot__bars{
    width: 100%;
    display: flex;
    margin-bottom: 1em;
}

.foot__bar1{
    width: 7%;
    height: 0.1875em;
    background-color: var(--color-secondary);
}

.foot__bar2{
    width: 7%;
    height: 0.1875em;
    background-color: var(--copy);
}

.foot__copy{
    color: #aaa;
    margin-bottom: 0.625em;
    letter-spacing: 0.8px;
    font-size: 1.125em;
}

.social{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.link{
    color: var(--color-primary);
    font-size: 2.4em;
    padding: 0 0.2em;
    border-radius: 5px;
    transition: all .3s ease;
}

.link:hover{
    background-color: var(--color-primary);
    color: #222;
}

.arrow{
    color: var(--color-primary);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-secondary);
    transition: background-color .3s ease;
    position: absolute;
    bottom: 0;
    right: 0;
}

.arrow:hover{
    background-color: var(--color-secondary);
}

/* <---- MOBILE ----> */

@media screen and (max-width: 1280px){
    .contact__hero{
        margin: auto;
        width: 80%;
        margin-top: 5em;
    }
}

@media screen and (max-width: 1024px){

    .container{
        width: 100%;
    }
    
    .services{
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .service{
        width: 90%;
        margin-bottom: 30px;
    }

    .about-us__cont{
        flex-direction: column;
        margin-bottom: 6.25rem;
    }
    
    .about-us__cont--reverse{
        flex-direction: column-reverse;
    }

    .about-us__img{
        width: 100%;
    }

    .about-us__text{
        width: 90%;
        margin-bottom: 3.125rem;
    }

    .about-us__copy{
        font-size: 16px;
    }

    .foot{
        flex-direction: column;
    }

    .foot__main{
        width: 100%;
    }
}

@media screen and (max-width: 768px){

    body{
        font-size: 14px;
    }

    .service__copy{
        font-size: 16px;
    }
}

@media screen and (max-width: 576px){

    body{
        font-size: 12px;
    }
    
    .title{
        padding: 2.7em 20px;
    }

    .menu{
        justify-content: space-around;
    }

    .vertical__bar{
        display: none;
    }

    .text-container__main{
        font-size: 3.4em;
    }

    .service__title{
        font-size: 20px;
    }
    
    .service__btn{
        font-size: 16px;
    }

    .contact__icons{
        padding: 0 10px 0 10px;
    }

    .contact__icon{
        font-size: 24px;
        padding: 10px;
    }

    .copy__info{
        font-size: 13px;
    }

    .foot__part1, .foot__part2{
        margin: auto;
        width: 70%;
    }

    .foot__part1{
        padding-bottom: 3.125em;
    }

    .about-us__text{
        width: 100%;
    }
}